ion-header {
    background-color: #333; /* Cambia el color de fondo del encabezado */
  }
  
  ion-title {
    color: #fff; /* Cambia el color del texto del título */
  }
  
  ion-content {
    --background: #000; /* Cambia el color de fondo del contenido */
  }
  